.home-body
{
	background-color: white;
}

#robin
{
	font-size:44px;
	font-family: "Courier New", Courier, monospace;
  margin-bottom: 80px;
  font-weight: normal;
  color:black;
  text-decoration: none;
}

.menu
{
	position: fixed;
	top:52px;
  width: 200px;
	left:4%;
  font-size: 20px;
	display: block;
	z-index: 100;
	font-family: 'Anaheim';

}


.clicks, .lyrics , .contact
{
	color:black;
	text-decoration: none;
	display:block;
	margin-bottom: 10px;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 1px;

}
.clicks:hover , .lyrics:hover , .contact:hover
{
  color: #ff0066;
}

#logo-img
{
  height:30px;
  width: 30px;
}

#logo
{
  margin-bottom: 40px;
}

.preview 
{
	width: 100%;
}


.row 
{
	display: flex;
	position: relative;
	float:right;
	margin-top: 44px;
	width: 80%;
	flex-direction: row;
	justify-content: space-between;
}



.col 
{
  
  width: 100%;
}

.modal 
{
  display: none;
  position: fixed;
  z-index: 1;
  left: 18%;
  top:0;
  padding-top: 52px;
  width: 82%;
  height: 700px;
  overflow: auto;  
  background-color: #fff;
  margin-right: 20px;
}
.hover-shadow
{
  object-fit: cover;
  height: 300px;
  width:  98%;
  margin-top: 4px;
  margin-bottom: 4px;
}
.image-slide 
{
  display: block;
  object-fit: cover;
  width: auto;
  height: 580px;
  margin-right: auto;
  margin-left: auto;
}


.slide 
{
  display: none;

}


img.preview,  
{
  opacity: 1;
}

img.modal-preview
{
	opacity: 0.6;
}

img.active, .preview:hover,.modal-preview:hover
{
  opacity: 1;
}

img.hover-shadow 
{
  transition: 0.3s;
}

.hover-shadow:hover 
{
  cursor: pointer;
  opacity: 0.9;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0,0.5);
} 

.close 
{
  color: black;
  position: absolute;
  top: 20px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
  transition: 0.6s ease;
}

.close:hover,.close:focus 
{
  color: #999;
  text-decoration: none;
  cursor: pointer;
  transform: scale(1.5);
}

.previous,.next 
{
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: black;
  font-weight: bold;
  font-size: 24px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

.previous
{
  left: 20px;
  border-radius: 3px 0 0 3px;
}
.next 
{
  right: 20px;
  border-radius: 3px 0 0 3px;
}

.previous:hover,.next:hover 
{
  transform: scale(1.5);
  text-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1), 0 6px 20px 0 rgba(0, 0, 0, 1);
}

.header , .frame
{
  display: none;
}

.figure
{
  width: 100%;
  height:auto;
  padding: 8px 8px;
  object-fit: cover;
}

@media screen and (max-width:1040px) 
{
  .row , .menu
  {
    display: none;
  }
  .header , .frame
  {
    display: block;
  }
    .hover-shadow
{
  object-fit: cover;
  height: auto;
  width:  100%;
  margin-bottom: 4px;
  margin-top: 4px;
}
.modal 
{
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top:0;
  width: 100%;
  height: 100%;
  overflow: auto;  
  background-color: rgba(0, 0, 0, 0.95);
}
.image-slide 
{
  display: block;
  object-fit: cover;
  width: 98%;
  height: auto;
  margin-left: 8px;
  margin-right: 8px;
  margin-top: 50%;
  transform: translateY(-50%);
}
.close , .previous, .next
{
  color: #fff;  
}
.previous:hover, .next:hover, .close:hover
{
  color: #ff0044;
}

}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #000000;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  letter-spacing: 2px;
  font-family: 'Anaheim';
  color: #c0c0c0;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #ff0044;
}

.closebtn:hover
{
  transform: scale(1.5);
}
.sidenav .closebtn {
  position: absolute;
  top: 0git;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}
#lines{
  float: right;
}
#lines:hover
{
  color: #ff0044;
}

@media screen and (max-height: 1040px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}

}
