
html,body
{
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;

}
.intro
{
	height:100%;
	width: 100%;
	margin: auto;
	background-color: #000;
	display: table;
	top:0;
	background-size: cover; 
}

.intro .inner
{
	display: table-cell;
	vertical-align: middle;
	width: 100%;
	max-width: none;
}
.content
{
	max-width: 500px;
	margin: 0 auto;
	text-align: center;
}
.content h1
{
	font-family: 'Handlee', cursive;
	color: #c0c0c0;
	text-shadow: 0px 0px 300px #000;
	font-size: 300%;
	letter-spacing: 2px;
}
.btn
{
	border-radius: 9px;
	font-family: 'Anaheim';
	color: #fff;
	font-size: 135%;
	font-weight: bold;
	letter-spacing: 2px;
	text-decoration: none;
	padding: 10px 20px;
	border:solid #c0c0c0 1px;
	transition: 0.6s ease;
  	border-radius: 0 3px 3px 0;
  	user-select: none;
}
.btn:hover
{
	transform: scale(1.2);
	border:solid #ff0040;
	font-size: 150%;
}
